
body {
    margin: 0;
}

.bottom-imgs {
    background-color: #c5cc66;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
    
}

.pictures {
    border-radius: 50%;
    border: 20px solid #6b821e;
    width: 250px;
    height: 250px;
    margin: 30px;
    
}

.cropped {
    height: 500px;
    width: 1280px;
}

#top-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.each-img {
    width: auto;
    height: 250px;
}